.desktop2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desktop2-desktop2 {
  width: 100%;
  height: 3617px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.desktop2-rectangle1 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 209px;
  position: absolute;
}
.desktop2-text {
  top: 71px;
  left: 530px;
  color: rgba(255, 255, 255, 1);
  width: 362px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.desktop2-text002 {
  top: 150px;
  left: 917px;
  color: rgba(255, 255, 255, 1);
  width: 192px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text004 {
  top: 150px;
  left: 1209px;
  color: rgba(255, 255, 255, 1);
  width: 177px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text006 {
  top: 18px;
  left: 1176px;
  color: rgba(255, 244, 0, 1);
  width: 147px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text008 {
  top: 149px;
  left: 235px;
  color: rgba(255, 255, 255, 1);
  width: 218px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text010 {
  top: 149px;
  left: 10px;
  color: rgba(255, 255, 255, 1);
  width: 171px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text012 {
  top: 250px;
  color: rgba(0, 0, 0, 1);
  width: 662px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text013 {
  color: rgba(0, 0, 0, 1);
}
.desktop2-rectangle4 {
  top: 366px;
  left: 31px;
  width: 407px;
  height: 619px;
  position: absolute;
  border-radius: 20px;
}
.desktop2-rectangle5 {
  top: 366px;
  left: 546px;
  width: 407px;
  height: 619px;
  position: absolute;
  border-radius: 20px;
}
.desktop2-rectangle6 {
  top: 366px;
  left: 1005px;
  width: 407px;
  height: 619px;
  position: absolute;
  border-radius: 20px;
}
.desktop2-text015 {
  top: 366px;
  left: 31px;
  color: rgba(255, 255, 255, 1);
  width: 358px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.desktop2-text017 {
  top: 385px;
  left: 577px;
  color: rgba(255, 255, 255, 1);
  width: 340px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.desktop2-text019 {
  top: 370px;
  left: 1034px;
  color: rgba(255, 255, 255, 1);
  width: 349px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.desktop2-text021 {
  top: 468px;
  left: 40px;
  color: rgba(255, 255, 255, 1);
  width: 337px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text032 {
  top: 479px;
  left: 560px;
  color: rgba(255, 255, 255, 1);
  width: 356px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text043 {
  top: 492px;
  left: 1034px;
  color: rgba(255, 255, 255, 1);
  width: 337px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text054 {
  top: 918px;
  left: 110px;
  color: rgba(255, 244, 0, 1);
  width: 221px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text056 {
  top: 918px;
  left: 646px;
  color: rgba(255, 244, 0, 1);
  width: 239px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text058 {
  top: 900px;
  left: 1124px;
  color: rgba(255, 244, 0, 1);
  width: 246px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text060 {
  top: 1061px;
  left: -2px;
  color: rgba(47, 8, 111, 1);
  width: 523px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.desktop2-rectangle7 {
  top: 1235px;
  left: 51px;
  width: 1320px;
  height: 466px;
  position: absolute;
}
.desktop2-text062 {
  top: 1266px;
  left: 40px;
  color: rgba(255, 255, 255, 1);
  width: 1307px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text064 {
  top: 1745px;
  left: 395px;
  color: rgba(47, 8, 111, 1);
  width: 598px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.desktop2-rectangle8 {
  top: 1951px;
  left: 113px;
  width: 507px;
  height: 167px;
  position: absolute;
  border-radius: 20px;
}
.desktop2-rectangle9 {
  top: 1951px;
  left: 786px;
  width: 507px;
  height: 167px;
  position: absolute;
  border-radius: 20px;
}
.desktop2-rectangle10 {
  top: 2162px;
  left: 113px;
  width: 507px;
  height: 167px;
  position: absolute;
  border-radius: 20px;
}
.desktop2-rectangle11 {
  top: 2171px;
  left: 786px;
  width: 507px;
  height: 167px;
  position: absolute;
  border-radius: 20px;
}
.desktop2-text066 {
  top: 1976px;
  left: 124px;
  color: rgba(255, 244, 0, 1);
  width: 459px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text068 {
  top: 1981px;
  left: 810px;
  color: rgba(255, 244, 0, 1);
  width: 459px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text070 {
  top: 2197px;
  left: 113px;
  color: rgba(255, 244, 0, 1);
  width: 459px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text072 {
  top: 2205px;
  left: 810px;
  color: rgba(255, 244, 0, 1);
  width: 459px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text074 {
  top: 2443px;
  left: 453px;
  color: rgba(47, 8, 111, 1);
  width: 534px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.desktop2-rectangle12 {
  top: 2604px;
  left: 76px;
  width: 692px;
  height: 96px;
  position: absolute;
  border-radius: 20px;
}
.desktop2-rectangle13 {
  top: 2758px;
  left: 76px;
  width: 692px;
  height: 96px;
  position: absolute;
  border-radius: 20px;
}
.desktop2-rectangle14 {
  top: 2898px;
  left: 76px;
  width: 692px;
  height: 226px;
  position: absolute;
  border-radius: 20px;
}
.desktop2-text076 {
  top: 2625px;
  left: 76px;
  color: rgba(255, 255, 255, 1);
  width: 156px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text078 {
  top: 2781px;
  left: 76px;
  color: rgba(255, 255, 255, 1);
  width: 127px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text080 {
  top: 2912px;
  left: 76px;
  color: rgba(255, 255, 255, 1);
  width: 226px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-rectangle15 {
  top: 3199px;
  left: 0px;
  width: 1440px;
  height: 418px;
  position: absolute;
}
.desktop2-text082 {
  top: 3278px;
  left: 1107px;
  color: rgba(245, 245, 245, 1);
  width: 233px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop2-text093 {
  top: 3340px;
  left: 422px;
  color: rgba(245, 245, 245, 1);
  width: 523px;
  height: auto;
  position: absolute;
  font-size: 96px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.desktop2-text095 {
  top: 3259px;
  left: 54px;
  color: rgba(245, 245, 245, 1);
  width: 351px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
